# Backend & Database Configuration
PORT = 8200
DATABASE_URL= "mongodb://127.0.0.1:27017/Landivo"
# SMTP Configuration
SMTP_HOST=mail.yourdomain.com
SMTP_PORT=587
SMTP_USER=noreply@yourdomain.com
SMTP_PASS=EMAIL_PASSWORD_HEREW

# Admin Email to receive notifications
SMTP_To=youremail@domain.com

#Google Authentication Stuffs
JWT_SECRET=YOUR_JWT_SECRET
